@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

@font-face {
    font-family: 'metropolis@400';
    src: url('./fonts/Metropolis-Regular.otf');
}

@font-face {
    font-family: 'metropolis@600';
    src: url('./fonts/Metropolis-SemiBold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'metropolis@600';   /* not founddddd */
}
.container {
    display: flex;
}
.sidebar {  
    width: 5%;
    padding: 1.1% 1.1% 1.5% 1.1%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
}
.sidebar-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;
}
.sidebar-wrapper .first-letter {
    background-color: #615EF0;
    padding: 25% 0px;     /* padding: 12.25px 0px; */
    border-radius: 14px;
    color: white;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}
.sidebar-wrapper .icon-comtainer {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sidebar-wrapper .icon-comtainer div:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* sticky */
.messages,
.top,
.right-top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
/* end sticky */

/* left */
.left {        
    width: 25%;
    border-right: 1px solid #EDF2F7;
}
.messages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
    border-bottom: 1px solid #EDF2F7;
}
.messages div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {         /* affecting all h3 */
    font-size: 1.25rem;
}
.messages div:first-child img {
   margin: 6px 10px 0 2px;
}
.messages div p,
.team-members .teams-profile p,
.file p {
    font-size: 0.75rem;
    margin-top: 2px;
    padding: 2px 8px;
    border: 1px solid transparent;
    background: #EDF2F7;
    border-radius: 24px;
}
.messages div:last-child {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background: #615EF0;
    box-shadow: 0px 0px 15px 0px rgba(65, 62, 189, 0.24);
}
.messages div:last-child img {
    position: absolute;
    top: 23%;
    left: 25%;
}
/* left-middle */
.left-middle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 3% 6%;
    padding: 10px 20px;
    border-radius: 12px;
    background: #F3F3F3;
}
.left-middle input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #F3F3F3;
}
.left-middle input::placeholder,
.input-box input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    background: #F3F3F3;
    font-size: 0.875rem;
    font-family: 'metropolis@400';
}
.left-middle div img {
    margin-top: 2px;
}
/* left-bottom */
.left-bottom {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.left-bottom .box {
    padding: 12px;
}
.left-bottom .box .box-wrapper {
    display: flex;
    gap: 16px;
}
.left-bottom .box .box-wrapper .item {
    width: 100%;
   display: flex;
   justify-content: space-between;
}
.left-bottom .box .box-wrapper .item .time {
    color:  rgba(0, 0, 0, 0.3);
    font-size: 0.875rem;
}
.box2 {
    background-color: rgba(97, 94, 240, 0.06);
    border-radius: 12px;
}
h4 {    /* affecting all h4 */
    font-size: 0.875rem;
}
.text p,
.member-profile p {
    color: rgba(0, 0, 0, 0.40);
    font-size: 0.75rem;
    padding-bottom: 8px;
}
.text p span {
    color: rgba(0, 0, 0);
}
.mini-text {
    display: flex;
    gap: 8px;
}
.mini-text button {
    padding: 2px 8px;
    font-size: 0.75rem;
    border-radius: 12px;
}
.mini-text .but1 {
    border: 1px solid transparent;
    background-color: #FEEBC8;
    color: #DD6B20;
}
.mini-text .but2 {
    border: 1px solid transparent;
    background-color: #C6F6D5;
    color: #38A169;
}
.mini-text .but3 {
    border: 1px solid #CBD5E0;
    background-color: transparent;
    color: #718096;
}

/* middle */
.middle {       
    width: 43%;
    position: relative;
}
.middle .top,
.right-top {              
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px; 
    height: 75px;
    border-bottom: 1px solid #EDF2F7;
}
.middle .top .page {
    display: flex;
    gap: 16px;
}
.middle .top .page .page-text .online {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
}
.middle .top .call {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(97, 94, 240, 0.10);
    padding: 10px 16px;
    border-radius: 8px;
}
.top .call p {
    color:  #615EF0;
    font-size: 1rem;
}
/* middle-section2 */
.middle-section2 {
    padding: 24px;
    display: flex;
    flex-direction: column;
}
/* chats */
.middle .chats {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.chat {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.chat-purple {
    justify-content: flex-end;
    align-items: flex-start;
}
.chat-text1 {
    display: flex;
    display: inline-block;
    flex-direction: column;
}
.chat-text1,
.chat-text2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chat-text2 {
    align-items: end;
}
.chat-text1 p,
.chat-text2 p {
    display: inline-block;
    background-color: #F1F1F1;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-family: 'metropolis@400';
    border-radius: 12px;
}
.chat-text2 p {
    background-color: #615EF0;
    color: #FFF;
}
.send-message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 24px 24px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.input-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E2E8F0;
    padding: 8px 20px;
    border-radius: 12px;
}
.input-box input {
    border: none;
    width: 100%;
    outline: none;
}
.input-box input::placeholder {
    background: white;
}

/* right */
.right {      
    width: 27%;
    border-left: 1px solid #EDF2F7;
}
.right-top div,
.docs .doc-type {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background: rgba(97, 94, 240, 0.10);
}
.right-top div img,
.docs .doc-type img {
    position: absolute;
    top: 23%;
    left: 25%;
}
/* team-members */
.team-members {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px;
    border-bottom: 1px solid #EDF2F7;
}
.team-members .teams-profile,
.file {
    display: flex;
    align-items: center;
    gap: 8px;
}
.member {
    padding: 12px;
    display: flex;
    /* align-items: center; */
    gap: 16px;
}
.member-profile p {
    margin-top: 5px;
}
.files,
.documents {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.documents {
    padding: 0;
}
.docs {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doc {
    display: flex;
    gap: 16px;
    align-items: center;
}
.doc div:first-child {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    padding: 17px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doc-text p {
    color: rgba(0, 0, 0, 0.40);
    font-size: 0.75rem;
    padding-top: 2px;
}
.doc-text p span {
   padding-left: 10px;
}
.red {
    background-color: #FFF5F5;
}
.green {
    background-color: #F0FFF4;
}
.blue {
    background-color: #EBF8FF;
}
.purple {
    background-color: #FAF5FF;
}


/* Media Query for large tablets */
@media (max-width: 1230px) {
    .sidebar {  
        padding: 1.1% 1% 1.5% 1%;
    }
    .sidebar-wrapper .first-letter {
        padding: 22% 0px;    
        font-size: 1.1rem;
    }

    .icon-comtainer div {
        width: 1.65rem;
    }
    .icon-comtainer div img {
        width: 100%;
    }

    /* left */
    .messages {
        padding: 5%;     
    }
    h3 {         /* affecting all h3 */
        font-size: 1rem;
    }
    .messages div:first-child img {
        margin: 2px 10px 0 2px;
    }
    .messages div p,
    .team-members .teams-profile p,
    .file p {
        font-size: 0.7rem;
    }
    .messages div:last-child {
        width: 37px;
        height: 37px;
    }
    .messages div:last-child img {
        top: 25%;
        left: 25%;
    }
    /* left-middle */
    .left-middle {
        padding: 8px 15px;
    }
    .left-bottom .box .box-wrapper .item .time {
        font-size: 0.7rem;
    }
    h4 {    /* affecting all h4 */
        font-size: 0.7rem;
    }
    .text p,
    .member-profile p {
        font-size: 0.65rem;
    }
    .mini-text button {
        padding: 3px 8px;
        font-size: 0.64rem;
    }
    
    /* middle */
    .middle .top,
    .right-top {              
        padding: 22px; 
        height: 60px;
    }
    .middle .top .page .page-text .online {
        font-size: 0.65rem;
    }
    .middle .top .call {
        padding: 8px 15px;
    }
    .top .call p {
        color:  #615EF0;
        font-size: 0.9rem;
    }
    /* middle-section2 */
    .middle-section2 {
        padding: 22px;
    }
    /* chats */
    .chat-text1 p,
    .chat-text2 p {
        font-size: 0.75rem;
    }
    .doc-text p {
        font-size: 0.65rem;
    }
}

    /* Media Query for small tablets */
    /* @media (max-width: 1100px)  */
@media (max-width: 1023px) {
    .right {
        display: none;
    }
    .left {        
        width: 35%;
        height: 100vh;
        border-right: 1px solid #EDF2F7;
    }
    .middle {       
        width: 60%;
        position: relative;
    }
}

    /* Media Query for mobile screens */
@media (max-width: 740px) {
    .left{
        display: none;
    }
    .middle {       
        width: 90%;
        height: 100vh;
    }
    .sidebar {  
        width: 10%;
    }
    .sidebar-wrapper .icon-comtainer {
        margin: auto;
    }
    .sidebar-wrapper .icon-comtainer div:last-child {
        bottom: 20px;
    } 
    h3 {
        font-size: 1rem;
    }
}

    /* Media Query for very small screens */
@media (max-width: 380px) {
    .middle {       
        height: 120vh;
    }
    h3 {
        font-size: .8rem;
    }
}